.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --bg-first-color: #ff8dcb;
  --bg-second-color: #353430;
  --title-section-accent-color: #ffc2e6;
  --text-main-color: #353430;
  --hover-color: #32312d66;
	--hover-color-link: #353430;
	--focus-visible-menu: #353430;
  --decorate-color: #353430;
  --text-menu-color: #353430;
  --rec-decorative-element: transparent;
  --section-h2-color: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
    --cover-image: url(../images/cover-image-light.png);
    --bg-first-color: #ff8dcb;
    --bg-second-color: #353430;
    --title-section-accent-color: #ffc2e6;
    --text-main-color: #353430;
    --hover-color: #32312d66;
		--hover-color-link: #353430;
		--focus-visible-menu: #353430;
    --decorate-color: #353430;
    --text-menu-color: #353430;
    --rec-decorative-element: transparent;
    --section-h2-color: #353430;
  }
}