/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-first-color: #fff1f7;
  --bg-second-color: #ff8dcb;
  --title-section-accent-color: #ffc2e6;
  --title-section-shadow-color: #ff0070;
  --text-menu-color: #353430;
  --text-title-color: #353430;
  --text-description-color: #353430;
  --text-main-color: #353430;
  --hover-color: #353430;
  --font-family: "IBM Plex Mono", serif;
  --footer-title-section-accent-color: #ff8dcb;
  --decorate-color: #353430;
  --text-subtitle-color: #353430;
	--font-size-text-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	--font-size-text-desktop-tablet: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
